/*
 * preview.css
 */


* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  height: 100%
}

.view_page {
  display: table;
}

.image_rap{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}  

#page_index{
  position: absolute;
  z-index: 100;
  top: 0px;
  color: cornflowerblue;
}

.img_info {
  position: absolute;
  z-index: 90;
  bottom: 0px;
  right: 0px;
  color: cornflowerblue;
}

#loading {
  font-size: 1.5em;
  text-align: center;
}

#load_indicator {
  width: 0%; /* jsで増やしていく */
  height: 50px;
  margin: 10px;
  background-color: greenyellow;
}

#btn_open_dialog {
  position: absolute;
  z-index: 200;
  top: 1.5em;
  left: 0px;
  margin: 2px 5px;
  padding: 2px 5px;
  opacity: 0.5;

}

.dialog_root *{
  margin: 0px;
  padding: 3px;
}

#dialog_menu {
  max-height: 50%;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;

  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
  width: 50%;

  overflow-y: auto;
}

#btn_close_dialog {
  /* font-size: 1.5em; */
  padding: 0.3em;
  line-height: 0.6;
  position: absolute;
  top: 5px;
  right: 5px;
}

.header_dialog {
  margin: 0;
  padding: 1em;
  padding-left: 8px;
  vertical-align: middle;
  /* height: 3em; */
  padding-bottom: 0.6em;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  background-color: lightblue;
}

#dialog_menu div{
  margin: 3px;
  padding: 3px
}

.input_size {
  margin: 2px 2px;
  width: 4em;
  padding: 2px 4px;
}


.table_images_list {
  table-layout: fixed;
  border-collapse: collapse; /* 一重線 */
  width: 100%;
}

.no_match_tr{
  background-color: lightgray;
  color: white;
}

.table_images_list th {
  background-color: grey;
  border: 1px solid white;
  color: white;
}

.table_images_list th:nth-child(1){
  width: 60%;
}

.table_images_list td{
  font-size: 0.8em;
  border: 1px solid gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table_images_list th:nth-child(2), th:nth-child(3){
  width: 20%;
}

.table_images_list td:nth-child(2), td:nth-child(3){
  text-align: center;
}

.error {
  color: red;
}
